/* Tamanho da imagem */

img {
  max-width: 600px;
  position: relative;
  /* max-width: 300px;*/
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: #fdfeff;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 32px;
  width: 140px;
}

/* Change the link color to #111 (black) on hover */

/* Centrar título */
.title {
  display: flex;
  margin: 0px;
  text-align: center;
  font-size: 120px;
}

.title-container {
  display: flex;
  justify-content: center;
  /* justify-self: center; */
}

.conversor-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 200px;
}

.output-text-container {
  display: flex;
  justify-content: center;
  width: 600px;
  /* width: 300px; */
  padding-bottom: 10px;
}

#texto-original {
  width: 600px;
  /* width: 300px; */
  height: 200px;
  text-align: justify;
  padding-top: 0;
  font-size: 30px;
  /* font-size: 15px; */
  background-color: transparent;
}

#texto-modificado {
  width: 600px;
  /* width: 300px; */
  height: 200px;
  text-align: justify;
  padding-top: 0px;
  margin-bottom: 30px;
  /* font-size: 15px; */
  font-size: 30px;
  background-color: transparent;
}

.body {
  display: flex;
  width: 600px;
  /* max-width: 300px; */
  font-size: 25px;
  text-align: justify;
  text-justify: inter-word;
}

/* * {
  background-color: blue;
  color: #ffea00;
} */

/* @font-face {
  font-family: "ideogramasregular";
  src: url("https://zigurate.000webhostapp.com/fonts/ideogramas-regular-webfont.woff2")
      format("woff2"),
    url("https://zigurate.000webhostapp.com//fonts/ideogramas-regular-webfont.woff")
      format("woff");
} */

/* @font-face {
  font-family: "ideogramasregular";
  src: url("https://zigurate.000webhostapp.com/fonts/ideogramas-regular-webfont.woff2")
      format("woff2"),
    url("https://zigurate.000webhostapp.com//fonts/ideogramas-regular-webfont.woff")
      format("woff");
} */

@font-face {
  font-family: 'ideograma-bilateral';
  src: url(/fonts/ideogramas-bi/ideogramas_bi-regular-webfont.woff)
      format('woff'),
    url(/fonts/ideogramas-bi/ideogramas_bi-regular-webfont.woff2)
      format('woff2');
}
/* É preciso acrescentar o https://zigurate.000webhostapp.com/ antes? */

@font-face {
  font-family: 'ideograma-radial';
  src: url(fonts/ideograma-rad/ideogramas_rad-regular-webfont.woff)
      format('woff'),
    url(/fonts/ideograma-rad/ideogramas_rad-regular-webfont.woff2)
      format('woff2');
}

.ideograma-bilateral {
  font-family: 'ideograma-bilateral';
  /* font-size: 18px; */
  text-transform: uppercase;
}

.ideograma-radial {
  font-family: 'ideograma-radial';
  /* font-size: 20px; */
  text-transform: uppercase;
}

.btn {
  size: 32px;
  width: 32px;
  margin: 5px;
}

#title-editor {
  font-size: 40px;
  display: flex;
  width: 600px;
  justify-content: center;
}

#bilateral-display {
  font-size: 40px;
  display: flex;
  width: 600px;
  font-family: 'ideograma-bilateral';
  justify-content: center;
}

#radial-display {
  font-size: 40px;
  display: flex;
  width: 600px;
  font-family: 'ideograma-radial';
  justify-content: center;
}

#container-form {
  font-size: 25px;
  display: flex;
  width: 400px;
  justify-content: center;
}

#formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

audio {
  width: 600px;
  margin: 30px;
}
